div {padding:0px;margin:0px;}
body {scrollbar-base-color:#bae87c;scrollbar-arrow-color:#fff;scrollbar-shadow-color:#c1ea8b;padding:0px;margin:auto;text-align:center;background-color:#fff;}
dl.bitem {width:148px;margin:0px 0px 4px 4px;}
dl.bitem dt {background:url(../images/menubg.gif) no-repeat;height:25px;line-height:25px;text-align:center;cursor:pointer;}
dl.bitem dt b {color:#444;}
dl.bitem dd {padding:3px 3px 3px 3px;background-color:#F6F6F6;border:1px solid #bbb; border-top:none;}
.fllct{float:left;width:90px;}
.flrct{padding-top:3px;float:left;}
div.items{line-height:22px;background:url(../images/arr4.gif) no-repeat 10px 9px;}
span.items{padding:10px 0px 10px 22px;background:url(../images/arr4.gif) no-repeat 10px 12px;}
ul {padding-top:3px;}
li {height:22px;}
.sitemu li {padding:0px 0px 0px 22px;line-height:24px;background:url(../images/arr4.gif) no-repeat 10px 9px;}